<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all wares</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .persons, .persons td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Categories:</h1>

<table class="persons">
    <thead>
    <tr>
        <th>ID</th>
        <th>Category Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.getId()}">Id</td>
        <td th:text="${category.getCategoryName()}">Type Name</td>
        <!--        <td>-->
<!--            <a th:href="@{/person(id=${type.isBlocked()})}" href="person.html">Просмотреть</a>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>
</body>
</html>
